.publicacionesRecientes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 530px;
}
.cardPublicacion{
    width: 335px;
    height: 451px;
    background-color: white;
    border-radius: 20px;
}
.cardPublicacion img {
    width: 100%;
    height: 214px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08);
}
.publicacionesRecientes h2{
    font-size: 24px;
    font-weight: 800;
    margin-left: 5.2%;
}
.tituloPubliRecientes{
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-top: 40px;
}
.publicacionesRecientes p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-left: 5.2%;
    padding-right: 5.2%;
    text-align: left;
}
.publicacionesRecientes button{
    background-color: #FFBC6D;
    border-radius: 10px;
    height: 28px;
    width: 106px;
    border-style: none;
    position: relative;
    left: 215px;
    margin-top: 20px;
    font-size: 18px;
}
.publicacionesRecientes button:hover{
    cursor: pointer;
    background-color: #F68F56;
    color: white;
}